.screen {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #f5f5f5;
}

.text {
    width: 262px;
    height: 193px;
    margin-left: 100px;
    padding-top: 200px;
}

.h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

.h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #000000;

    border-bottom: 1px solid #493232;
}

.p {
    color: #000000;
}

.shop {
    width: 120px;
    height: 30px;
    background-color: #ddcfcf;
    border: 1px solid #787272;
}

/*photo*/
.foto {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.foto:last-child {
    margin-right: 15px;
}
.onePhoto {
    width: 259px;
    height: 346px;
}

.twoPhoto {
    width: 259px;
    height: 346px;
}

.stacy {
    width: 293px;
}

.foto_one {
    width: 259px;
    height: 346px;
    padding-top: 24px;
}

.foto_stacy {
    width: 293px;
    height: 360px;
    padding-top: 219px;
    margin-bottom: 12px;
}
.foto_two {
    width: 259px;
    height: 346px;
    padding-top: 24px;
}
/* text foto */

.draw {
    font-family: 'Hurricane';
    font-style: normal;
    margin-right: -50px;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0.05em;
    transform: rotate(-90deg);
}

.Anastasiia {
    margin-top: -55px;
    margin-left: -200px;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0.05em;
}
