.aside {
    width: 25%;
    height: 1150px;
    display: inline-block;
    background: #f4f4f4;
}

.filter {
    margin: 210px 50px 50px 50px;
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.input {
    width: 90px;
    height: 32px;
    padding: 5px 10px;
    background: #f9f9f9;

    border: 1px solid #d1d1d1;
    border-radius: 12px;
}

.btns {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
    justify-content: flex-start;
}

.apply {
    width: 68px;
    height: 30px;
    left: 0px;
    bottom: 0px;
    background: #fff8f8;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
}

.apply:hover {
    background: #e6cbcb;
    transition: 0.3s;
    transform: scale(1.1);
}

.reset {
    width: 68px;
    height: 30px;
    left: 112px;
    bottom: 6px;
    border: 1px solid #726262;
    background: #ffffff;
    border-radius: 10px;

    opacity: 0.6;
  transition: 0.3s;
}

.reset:hover {
 background: #ebeba2bd;

    opacity: 1;
}

/* response */

.response {
    margin-top: 50px;
    margin-left: 25px;
}

.h3 {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 20px;
}

.input_name {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 295px;
    height: 30px;
    border: none;
    background: #fdfdfd;
    border-radius: 20px;
}

.input_response {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px 10px;
    resize: none;
    width: 295px;
    height: 122px;
    border: none;
    background: #fdfdfd;
    border-radius: 20px;
}

.button_add {
    margin-bottom: 10px;
    width: 68px;
    height: 26px;
    left: 32px;
    top: 1534px;

    background: #fdfdfd;
    border: 1px solid rgba(44, 31, 31, 0.58);
    border-radius: 40px;
}

.response_text {
    width: 294px;
    height: 480px;
    left: 33px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
    background: #ffffff;
    border-radius: 20px;
}
